/* CSS styles */
/* CSS styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* Increased padding for more space from the edges */
    background-color: #ffffff; /* White background color */
    border-bottom: 1px solid #e7e7e7; /* Thin gray border at the bottom */
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%; /* Забезпечує, що заголовок буде по центру контейнера */
}

.article-title {
    margin: 0;
    font-weight: bold;
}


.header .title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}

.header .publish-button {
    background-color: #5C7AEA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header .publish-button:hover {
    background-color: #4a65d2;
}

.header .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.container {
    max-width: 800px; /* Set maximum width for the container */
    margin: 0 auto; /* Center the container */
    padding: 0 15px; /* Add padding to keep content away from edges */
}

.article_content {
    margin-top: 20px;
    padding: 20px;


}

.back_button {
    /*margin-top: -600px; !* Add margin to separate it from the article content *!*/
    margin-left: 55px;
    margin-top: 50px;
    /*margin-right: 1rem;*/
    /*background-color: #5C7AEA;*/
    /*width: 130px;*/
    /*color: white;*/
    /*padding: 10px 20px;*/
    /*border: none;*/
    /*border-radius: 5px;*/
    /*cursor: pointer;*/
    /*text-decoration: none;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*text-align: center;*/
    /*height: 40px;*/
    background-color: white;
}
/*.back_button:hover{*/
/*    background-color: #4a65d2;*/
/*}*/

.button{

    margin-left: 55px;
    margin-top: 50px;
    margin-right: 1rem;
    background-color: #5C7AEA;
    width: 130px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;


}
