<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script th:src="@{/js/editor.js}"></script>
    <title>Write Article</title>
</head>
<body>
<form th:action="@{/articles}" th:object="${article}" method="post">
    <label>
        Title:
        <input type="text" th:field="*{title}" placeholder="Title" required/>
    </label>
    <label>
        Subject Area:
        <select th:field="*{subjectArea.id}">
            <option th:each="subjectArea : ${subjectAreas}" th:value="${subjectArea.id}" th:text="${subjectArea.name}"></option>
        </select>
    </label>
    <div id="article-content" th:data-state="${state}"></div>
    <input type="hidden" th:field="*{content}" id="article-content-hidden"/>
    <button type="submit">Publish</button>
</form>
</body>
</html>