<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
  <img src="/css/13399753_Work_7.jpg" alt="Login Image">
</div>
<div class="form-container">
  <h1>Welcome to Prosvita!</h1>
  <form method="post" action="/auth/login">
    <div class="field">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="field">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="button-container">
      <button type="submit">Log in</button>
      <a href="/registration/register" class="back-link">Sign Up</a>
    </div>
    <div class="password-reset-container">
      <a href="/reset-password/request" class="req">Forgot Password?</a>
    </div>
  </form>
</div>
</body>
</html>
